@import url(http://fonts.googleapis.com/css?family=Marvel:400,700italic);

body {	
	background-color: /*url(../images/dark.png)*/ #fff;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.containerMargin {
	margin-top: 150px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.nav-font {
		font-family: 'Marvel', sans-serif;
}

.navbar-brand {
	max-width: 300px;
	max-height: 100px;
	padding: 5px;
	font-size: 40px;
	line-height: 100%;
	text-align: center;
}

.lineheight {
		line-height: 100%;
	
}

.navbar-brand img {
	height: 100%;
	padding: 0;
}

.navbar-nav li {
	font-size: 16px;
}

.normalFont {
	margin-left: 5px;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.neutral-message {
	color: #000;
}

.error-message {
	color: #C90C00;
}

.success-message {
	color: #009402;
}

.input-border input.ng-invalid.ng-dirty {
    border-color: #C90C00;
}

.input-border input.ng-valid.ng-dirty {
    border-color: #78FA89;
}


.relative {
	position: relative;
	
};

.right {
	left: 20px;
}


.userList {
	background-color: #fff;
	padding: 20px;
}
.content {
	background-color: #fff;
	top: 50px;
	position: relative;
	width: 85%;
	height: auto;
	float: right;
}

.content {
	background-color: #fff;
	top: 50px;
	position: relative;
	width: 85%;
	height: auto;
	float: right;
}

.sidebar {
	position: fixed;
	width: 15%;
	height: 100%;
}

.sidebar-content {
	top: 70px;
	padding-left: 15px;
	position: relative;
	font-size: 15px;
}
