<div class="content"  ng-controller="UsersController">
	<div class="userList container col-md-3">
		<h2 ng-hide="hasRole('ROLE_USER')">{{editedUser}} - edycja</h2>
		<h2 ng-show="hasRole('ROLE_USER')">Edycja profilu</h2>
		<h4 ng-hide="hasRole('ROLE_USER')">ID użytkownika: <b>{{user.id}}</b></h4><br /><br />
			<form name="editUser_form" ng-submit="editUser(user)" class="form-horizontal input-border" novalidate>
	 
	    						<div ng-hide="hideMessage" ng-class="messageStyle">
					                   {{message}}     
					   			</div>
	 
						<div class="form-group" ng-hide="hasRole('ROLE_USER')">
							<div class="col-sm-12">
	    						<input
	    								class="form-control" 
	    								type="text" 
	            						placeholder="Nazwa użytkownika" 
	            						name="username" 
	            						ng-model="username" 
	            						ng-minlength=5
	            						ng-maxlength=12 
	            						ng-pattern="/^[A-z][A-z0-9]*$/"
	            						ng-model-options="{debounce: 1000}"
	            						required />
	            						
	            					<small class="error-message" ng-show="duplicateUsername && !editUser_form.username.$dirty">
	    								Podana nazwa użytkownika jest już zajęta.
									</small>
	        
	  							<div class="error-container" ng-show="editUser_form.username.$dirty && editUser_form.username.$invalid">
								    <small class="error-message" ng-show="editUser_form.username.$error.required">
								    	Nazwa użytkownika nie może być pusta.</small>
								    <small class="error-message" ng-show="
								    !editUser_form.username.$error.minlength
								    && !editUser_form.username.$error.maxlength
								    && editUser_form.username.$error.pattern">
								    	Musi zaczynać się od litery oraz zawierać tylko litery i cyfry</small>	
								    <small class="error-message" ng-show="
								    	!editUser_form.username.$error.required 
								    	&& editUser_form.username.$error.minlength
										|| editUser_form.username.$error.maxlength">
								    	Nazwa użytkownika musi się składać z przynajmniej 5 i niewięcej niż 12 znaków.</small>
	  							</div>
							</div>
						</div>
						
						<div class="form-group" ng-hide="user.id != loggedUser.id">
							<div class="col-sm-12">
	    						<input
	    								class="form-control" 
	    								type="password" 
	            						placeholder="Hasło" 
	            						name="password" 
	            						ng-model="password" 
	            						ng-minlength=5
	            						ng-maxlength=16
	            						ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
	            						ng-model-options="{debounce: 1000}" />
	            						
	            				 
	  							<div class="error-container" ng-show="editUser_form.password.$dirty 
	  							&& editUser_form.password.$invalid">
	  							
								    <small class="error-message" ng-show="
								    !editUser_form.password.$error.minlength
								    && !editUser_form.password.$error.maxlength
								    && editUser_form.password.$error.pattern">
								    	Hasło musi zawierać przynajmniej jedno duzą literę i jedną cyfrę.</small>	
								    <small class="error-message" ng-show="
								    	!editUser_form.password.$error.required 
								    	&& editUser_form.password.$error.minlength
										|| editUser_form.password.$error.maxlength">
								    	Hasło musi się składać z przynajmniej 5 i niewięcej niż 16 znaków.</small>
	  							</div>
	  		
							</div>
						</div>
										
						<div class="form-group" ng-hide="user.id != loggedUser.id">
							<div class="col-sm-12">
	    						<input
	    								class="form-control"
	      								type="email" 
	      								placeholder="Email" 
	      								name="email" 
	      								ng-model="email" 
	      								ng-minlength=6 
	      								ng-maxlength=40 
	      								ng-model-options="{debounce: 1000}"
	      								required />
	      								
	      								
	      								<small class="error-message" ng-show="duplicateEmail && !editUser_form.email.$dirty">
	    									Podany email jest już zajęty.
										</small>
	      								
	      								<div class="error-container" ng-show="editUser_form.email.$dirty 
	    						&& editUser_form.email.$invalid">
								    <small class="error-message" ng-show="editUser_form.email.$error.required">
								    	Podaj adres email.</small>
								    <small class="error-message" ng-show="
								    !editUser_form.email.$error.minlength
								    && !editUser_form.email.$error.maxlength
								    && editUser_form.email.$error.email">
								    	Nieprawidłowy adres email.</small>	
								    <small class="error-message" ng-show="
								    	!editUser_form.email.$error.required 
								    	&& editUser_form.email.$error.minlength
										|| editUser_form.email.$error.maxlength">
								    	Email musi się składał z przynajmniej 6 i niewięcej niż 40 znaków.</small>
	    						</div>
							</div>
						</div> 
						
							<div class="form-group" ng-hide="hasRole('ROLE_USER')">
								<div class="col-sm-12">
			    					<select  class="form-control" ng-model="selectedRole.key">
			        					<option ng-repeat="item in roles" value="{{item.key}}" ng-selected="selectedRole.key == item.key">{{item.key}}</option>
			      					</select>
								</div>
							</div> 
							<div class="form-group" ng-hide="hasRole('ROLE_USER')">
								<div class="col-sm-12">
			    				Aktywny <input type="checkbox" ng-model="enabled">
								</div>
							</div> 	
							<div class="form-group" ng-hide="hasRole('ROLE_USER')">
								<div class="col-sm-12">
			    				Zablokowany <input type="checkbox" ng-model="locked">
								</div>
							</div> 
											
	   		<button type="submit" class="btn btn-success btn-sm" ng-disabled="editUser_form.$invalid || editUser_form.$pristine">Zmień</button>
		</form>		
	</div>
</div>

