<div class="content"  ng-controller="SettingsController">
	<div class="userList container col-md-5">
		<h2>System</h2>
					<div ng-hide="hideMessage" ng-class="messageStyle">
						  {{message}}     
				    </div>
			<table>
				<tr>
						<td class="settings_table"><b>Główne:</b></td>
				</tr>
				<tr>
						<td class="settings_table">Liczba prób logowania:</td>
						<td class="settings_table"><b><input class="form-control" type="text" ng-model="settings.maxLoginAttempts" /></b></td>
				</tr>
				<tr>
						<td class="settings_table">Blokada konta:</td>
						<td class="settings_table"><b><input class="form-control" type="text" ng-model="settings.accountLockTime" /></td>
						<td class="settings_table">minut</b></td>
				</tr>	
				<tr>
						<td class="settings_table">Ważność linków:</td>
						<td class="settings_table"><b><input class="form-control" type="text" ng-model="settings.linkExpirationTime" /></td>
						<td class="settings_table">minut</b></td>			
				</tr>
				<tr>
						<td class="settings_table"><b>Konfiguracja email:</b></td>
				</tr>
				<tr>
						<td class="settings_table">Adres:</td>
						<td class="settings_table"><b><input class="form-control" type="email" ng-model="settings.emailAddress" /></td>	
				</tr>
				<tr>
						<td class="settings_table">Host:</td>
						<td class="settings_table"><b><input class="form-control" type="text" ng-model="settings.emailHost" /></td>	
				</tr>
				<tr>
						<td class="settings_table">Port:</td>	
						<td class="settings_table"><b><input class="form-control" type="text" ng-model="settings.emailPort" /></td>	
				</tr>
				<tr>
						<td class="settings_table">Nazwa użytkownika:</td>	
						<td class="settings_table"><b><input class="form-control" type="text" ng-model="settings.emailUsername" /></td>	
				</tr>
				<tr>
						<td class="settings_table">Hasło:</td>	
						<td class="settings_table"><b><input class="form-control" type="password" ng-model="settings.emailPassword" /></td>	
				</tr>
		
				<tr>
						<td class="settings_table"><button class="btn btn-primary" ng-click="editSettings(settings)">Zmień</button></td>
				</tr>
			</table>
	</div>
</div>