<div class="sidebar">
	<div class="sidebar-content">

		
<accordion close-others="true">
 
    <accordion-group is-open="false">
        <accordion-heading>
            <a ui-sref="app.admin.dashboard" ng-href="#/admin/dashboard">Panel administracyjny</a>
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
       Sekcje w budowie
    </accordion-group>
    <accordion-group is-open="false">
        <accordion-heading>
            Użytkownicy<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <a ui-sref="app.admin.users.list" ng-href="#/admin/users/list">Lista</a><br />
        <a ui-sref="app.admin.users.add" ng-href="#/admin/users/add">Dodaj</a><br />
        <a ui-sref="app.admin.users.groups" ng-href="#/admin/users/groups">Grupy</a><br />
    </accordion-group>
       <accordion-group is-open="false">
        <accordion-heading>
            Lokalizacje<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
         <a ui-sref="app.admin.locations" ng-href="#/admin/locations">Lista</a><br />
       <a ui-sref="app.admin.locations.add" ng-href="#/admin/locations/add">Dodaj</a>
    </accordion-group>
    <accordion-group is-open="false">
        <accordion-heading>
            Wydarzenia<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
         <a ui-sref="app.admin.events" ng-href="#/admin/events">Lista</a><br />
       <a ui-sref="app.admin.events.add" ng-href="#/admin/events/add">Dodaj</a>
    </accordion-group>
    <accordion-group is-open="false">
        <accordion-heading>
            Ustawienia<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
       <a ui-sref="app.admin.settings" ng-href="#/admin/settings">System</a>
    </accordion-group>
   
</accordion>
	</div>
</div>