<div class="sidebar">
	<div class="sidebar-content">

		
<accordion close-others="true">
 
    <accordion-group is-open="false">
        <accordion-heading>
            <a ui-sref="users.admin">Panel administracyjny</a><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
       Sekcje w budowie
    </accordion-group>
    <accordion-group is-open="false">
        <accordion-heading>
            Użytkownicy<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <a ui-sref="app.users.list" ng-href="#/users/list">Lista</a><br />
        <a ui-sref="app.users.add" ng-href="#/user/admin/add">Dodaj</a><br />
        <a ui-sref="app.users.groups" ng-href="#/user/admin/groups">Grupy</a><br />
    </accordion-group>
       <accordion-group is-open="false">
        <accordion-heading>
            Lokalizacje<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
         <a ui-sref="app.locations" ng-href="#/locations">Lista</a><br />
       <a ui-sref="app.locations.add" ng-href="#/locations/add">Dodaj</a>
    </accordion-group>
    <accordion-group is-open="false">
        <accordion-heading>
            Wydarzenia<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
         <a ui-sref="app.events" ng-href="#/events">Lista</a><br />
       <a ui-sref="app.events.add" ng-href="#/events/add">Dodaj</a>
    </accordion-group>
    <accordion-group is-open="false">
        <accordion-heading>
            Ustawienia<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
       <a ui-sref="app.users.admin.settings" ng-href="#/users/admin/settings">Główne</a>
    </accordion-group>
   
</accordion>
	</div>
</div>