<div class="content"  ng-controller="UsersController">
<div class="userList container col-md-5">
<h2>Szczegóły</h2>

<table>
	<tr>
		<td>
			<b>Dane podstawowe:</b>
		</td>
		<td valign="top">
			<button class="btn btn-primary" ui-sref="user.admin.users.edit({ id: user.id })">Edytuj</button>
		</td>
	</tr>
	<tr>
		<td>
			Id użytkownika: <b>{{user.id}}</b><br />
			Nazwa użytkownika: <b>{{user.username}}</b><br />
			Email: <b>{{user.email}}</b><br />
			Rola: <b>{{user.role}}</b><br />
			Aktywny: <b>{{user.enabled}}</b><br />
			Zablokowany: <b>{{user.locked}}</b><br /> 	
			Nieudane próby logowania: <b>{{user.failedLogins}}</b><br /> 	
			Ostatnia próba logowania: <b>{{user.lastLoginAttempt | date:'yyyy-MM-dd HH:mm:ss'}}</b><br /><br />
		</td>
	</tr>
	<tr>
		<td>
			<b>Dane osobowe:</b>
		</td>
		<td valign="top">
			<button class="btn btn-primary" ui-sref="user.admin.persons.edit({ id: person.id })">Edytuj</button>
		</td>
	</tr>
	<tr>
		<td>
			Imię: <b>{{person.firstName}}</b><br />
			Nazwisko: <b>{{person.lastName}}</b><br />
			PESEL: <b>{{person.pesel}}</b><br />
			Numer telefonu: <b>{{person.phoneNumber}}</b><br />
		</td>
	</tr>
</table>

</div>