<div class="content"  ng-controller="UsersController">
<div class="userList container col-md-5">
<h2>Użytkownicy</h2>
		 <table ng-table="tableParams" class="table">
			 <tbody ng-repeat="group in $groups">
		        <tr class="ng-table-group">
		            <td colspan="{{$columns.length}}">
		                <a href="" ng-click="group.$hideRows = !group.$hideRows">
		                    <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
		                    <strong>{{ group.value }}</strong>
		                </a>
		            </td>
		        </tr>
		        <tr ng-hide="group.$hideRows" ng-repeat="user in group.data">
		           <td data-title="'Id'" sortable="'id'">{{user.id}}</td>
		            <td data-title="'Nazwa użytkownika'" sortable="'username'">{{user.username}}</td>
		            <td data-title="'Rola'" sortable="'role'">{{user.role}}</td>
		            <td data-title="'Aktywny'" sortable="'enabled'">{{user.enabled}}</td>
		            <td data-title="'Niezablokowany'" sortable="'accountNonLocked'">{{user.accountNonLocked}}</td>
		            <td data-title="'Nieudane logowania'" sortable="'failedLogins'">{{user.failedLogins}}</td>
		            <td data-title="'Ostatnia próba'" sortable="'lastLoginAttempt'">{{user.lastLoginAttempt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
		            <td data-title="'Operacje'">
		            	<a ui-sref="user.admin.users.details({ id: user.id })">Szczegóły</a> | 
		            	<a ui-sref="user.admin.users.edit({ id: user.id })">Edytuj</a> | 
		            	<a ui-sref="delete(id)">Usuń</a>
		            </td>
		        </tr>
	    	</tbody> 
        </table> 	
</div>