<div class="content"  ng-controller="UsersController">
<div class="userList container col-md-5">
<h2>Użytkownicy</h2>

					<div ng-hide="hideMessage" ng-class="messageStyle">
				                   {{message}}     
				   			</div>
		 <table ng-table="tableParams" show-filter="true" class="table"> 
		        <tr ng-repeat="user in $data">
		            <td data-title="'Id'" sortable="'id'">{{user.id}}</td>
		            <td data-title="'Nazwa użytkownika'" sortable="'username'" filter="{ 'username': 'text' }">{{user.username}}</td>
		            <td data-title="'Rola'" sortable="'role'" filter="{ 'role': 'text' }">{{user.role}}</td>
		            <td data-title="'Aktywny'" sortable="'enabled'" filter="{ 'enabled': 'text' }">{{user.enabled}}</td>
		            <td data-title="'Zablokowany'" sortable="'locked'" filter="{ 'locked': 'text' }">{{user.locked}}</td>
		            <td data-title="'Nieudane logowania'" sortable="'failedLogins'">{{user.failedLogins}}</td>
		            <td data-title="'Ostatnia próba'" sortable="'lastLoginAttempt'">{{user.lastLoginAttempt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
		            <td data-title="'Operacje'">
		            	<a ui-sref="user.admin.users.details({ id: user.id })">Szczegóły</a> | 
		            	<a ui-sref="user.admin.users.edit({ id: user.id })">Edytuj</a> | 
		            	<a ng-click="deleteUser(user.id)">Usuń</a>
		            </td>
		        </tr>
        </table> 	
</div>