<!DOCTYPE html>
<html ng-app="inspigen">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link type="text/css" rel="stylesheet" href="resources/css/bootstrap/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="resources/css/font-awesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="resources/js/lib/ng-table/ng-table.min.css" />
    <link type="text/css" rel="stylesheet" href="resources/js/lib/loading-bar.min.css" />
    <link type="text/css" rel="stylesheet" href="resources/css/app.css" />    
    
    <title ng-bind="'InspiGen - ' + $state.current.title">InspiGen</title>
</head>

<body>
<div class="relative" ui-view="navbar"></div>
<div class="relative" ui-view="sidebar"></div>
<div class="relative" ui-view="content"></div>
    
    <!-- jQuery -->
    <script src="resources/js/lib/jquery/jquery-2.1.1.min.js"></script>
    
    <!-- Bootstrap JS -->
    <script src="resources/css/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- lodash -->
    <script src="resources/js/lib/lodash/lodash.min.js"></script>   
    
    <!-- AngularJS -->
	<script src="resources/js/lib/angularjs/angular.js"></script>
	<script src="resources/js/lib/angularjs/angular-locale_pl-pl.js"></script>
	<script src="resources/js/lib/angularjs/angular-resource.min.js"></script>
	<script src="resources/js/lib/angularjs/angular-ui-router.min.js"></script>
	<script src="resources/js/lib/angularjs/angular-local-storage.min.js"></script>
	<script src="resources/js/lib/angularjs/angular-permission.js"></script>
	<script src="resources/js/lib/angularjs/restangular.min.js"></script>
	<script src="resources/js/lib/loading-bar.min.js"></script>
	<script src="resources/js/lib/angular-base64.min.js"></script>
	
	<!-- UI-Boostrap -->
	<script src="resources/js/lib/ui-bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
	
	<!-- Angular-Strap -->
	<script src="resources/js/lib/angular-strap/angular-strap.min.js"></script>
	<script src="resources/js/lib/angular-strap/angular-strap.tpl.min.js"></script>
	
	<!-- Angular - główne skrypty -->
	<script src="resources/js/modules/App.js"></script>
	<script src="resources/js/modules/Login.js"></script>
	<script src="resources/js/modules/Accounts.js"></script>
	<script src="resources/js/modules/Users.js"></script>
	<script src="resources/js/modules/Persons.js"></script>
	<script src="resources/js/modules/Addresses.js"></script>
	<script src="resources/js/modules/Events.js"></script>
	<script src="resources/js/modules/Participants.js"></script>
	<script src="resources/js/modules/Locations.js"></script>
	<script src="resources/js/modules/Attachments.js"></script>
	<script src="resources/js/services.js"></script>
	<script src="resources/js/contextService.js"></script>
	<script src="resources/js/factories/userFactory.js"></script>
	<script src="resources/js/factories/personFactory.js"></script>
	<script src="resources/js/factories/addressFactory.js"></script>
	<script src="resources/js/factories/eventFactory.js"></script>
	<script src="resources/js/factories/participantFactory.js"></script>
	<script src="resources/js/factories/locationFactory.js"></script>
	<script src="resources/js/factories/attachmentFactory.js"></script>
	<script src="resources/js/directives.js"></script>
	<script src="resources/js/filters.js"></script>
	
	<!-- ng-table -->
	<script src="resources/js/lib/ng-table/ng-table.min.js"></script>
	
</body>
</html>