<div class="sidebar">
	<div class="sidebar-content">

		
<accordion close-others="true">
  	<accordion-group is-open="false">
        <accordion-heading>
            <a ui-sref="app.moderator.dashboard" ng-href="#/mod/dashboard">Panel koordynatora</a>
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
       Sekcje w budowie
    </accordion-group>
    <accordion-group is-open="false">
        <accordion-heading>
            Użytkownicy<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <a ui-sref="app.moderator.userList" ng-href="#/mod/users/list">Lista</a><br />
    </accordion-group>
       <accordion-group is-open="false">
        <accordion-heading>
            Lokalizacje<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
         <a ui-sref="app.moderator.locations" ng-href="#/mod/locations">Lista</a><br />
       <a ui-sref="app.moderator.addLocation" ng-href="#/mod/locations/add">Dodaj</a>
    </accordion-group>
    <accordion-group is-open="false">
        <accordion-heading>
            Wydarzenia<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
         <a ui-sref="app.moderator.events" ng-href="#/mod/events">Lista</a><br />
       <a ui-sref="app.moderator.addEvent" ng-href="#/mod/events/add">Dodaj</a>
    </accordion-group>
   
</accordion>
	</div>
</div>