<div class="container containerMargin" ng-controller="PasswordResetController">
    <div class="row">
        <div class="col-md-3 center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> Przypomnienie hasła
                </div>
                <div class="panel-body">
                    <form name="f" data-th-action="@{/resetPassword}" method="POST" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                         <div ng-hide="hideMessage" ng-class= "alertStyle">
				                   {{message}}     
				                  
				   			</div>
				   			<div ng-hide="hideMessage">
				   				{{redirectMessage}}
				   			</div>  
                            <input ng-hide="hideInput" type="email" class="form-control" id="email" name="email" placeholder="Email" />
                        </div>
                    </div>       
                    <div ng-hide="hideInput" class="form-group last">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-success btn-sm">Zresetuj hasło</button>
                        </div>
                    </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>