<div class="container containerMargin" ng-controller="UsersController">
    <div class="row">
        <div class="col-md-3 center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> Przypomnienie has³a
                </div>
                <div class="panel-body">
                    <form name="newPassword_form" ng-submit="resetPassword()" class="form-horizontal input-border" novalidate>
                    	<div ng-hide="hideMessage" ng-class="messageStyle">
				                   			{{resetMessage}}     
				   		</div>
				   		
		              <div class="form-group">
								<div class="col-sm-12">
		    						<input
		    								class="form-control" 
		    								type="password" 
		            						placeholder="Nowe has³o" 
		            						name="password" 
		            						ng-model="reset.password" 
		            						ng-minlength=5
		            						ng-maxlength=16
		            						ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
		            						ng-model-options="{debounce: 1000}"
		            						required />
		  							<div class="error-container" ng-show="newPassword_form.password.$dirty 
		  							&& newPassword_form.password.$invalid">
		  							
		  							 <small class="error-message" ng-show="newPassword_form.password.$error.required">
									    	WprowadŸ has³o.</small>
									    <small class="error-message" ng-show="
									    !newPassword_form.password.$error.minlength
									    && !newPassword_form.password.$error.maxlength
									    && newPassword_form.password.$error.pattern">
									    	Has³o musi zawieraæ przynajmniej jedno duz¹ literê i jedn¹ cyfrê.</small>	
									    <small class="error-message" ng-show="
									    	!newPassword_form.password.$error.required 
									    	&& newPassword_form.password.$error.minlength
											|| newPassword_form.password.$error.maxlength">
									    	Has³o musi siê sk³adaæ z przynajmniej 5 i niewiêcej ni¿ 16 znaków.</small>
		  							</div>
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-sm-12">
		    						<input 
		    								class="form-control" 
		    								type="password" 
		            						placeholder="PotwierdŸ nowe has³o" 
		            						name="confirmPassword" 
		            						ng-model="reset.confirmPassword" 
		             						ng-match="reset.password"
		            						ng-model-options="{debounce: 1000}"
		            					 	required />
		  							<div class="error-container" ng-show="newPassword_form.confirmPassword.$dirty 
		  							&& newPassword_form.confirmPassword.$invalid">
									    <small class="error-message" ng-show="newPassword_form.confirmPassword.$error.required">
									    	PotwierdŸ has³o.</small>
									    <small class="error-message" ng-show="
									    !newPassword_form.confirmPassword.$error.required
									    && newPassword_form.confirmPassword.$error.match">
									    	Has³a siê nie zgadzaj¹.</small>
		  							</div>
								</div>
							</div>
						
						
                    		<button type="submit" class="btn btn-success btn-sm" ng-disabled="passwordReset_form.$invalid">Zresetuj has³o</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>