<div class="container containerMargin" ng-controller="UsersController">
    <div class="row">
        <div class="col-md-3 center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> Przypomnienie has³a
                </div>
                <div class="panel-body">
                    <form name="passwordReset_form" ng-submit="sendResetPasswordEmail()" class="form-horizontal input-border" novalidate>
                    	<div class="form-group">
							<div class="col-sm-12">
	    						<input
	    								class="form-control"
	      								type="email" 
	      								placeholder="Email" 
	      								name="email" 
	      								ng-model="reset.email" 
	      								ng-model-options="{debounce: 1000}"
	      								required />
	      						
	      							<small class="error-message" ng-show="!emailUnique && !passwordReset_form.email.$dirty ">
	    								Nie istnieje u¿ytkownik z podanym adresem email.
									</small>
	      						
	    						<div class="error-container" ng-show="passwordReset_form.email.$dirty 
	    						&& passwordReset_form.email.$invalid">
								    <small class="error-message" ng-show="passwordReset_form.email.$error.required">
								    	Podaj adres email.</small>
								    <small class="error-message" ng-show="passwordReset_form.email.$error.email">
								    	Nieprawid³owy adres email.</small>	
	    						</div>
							</div>
						</div> 
                    		<button type="submit" class="btn btn-success btn-sm" ng-disabled="passwordReset_form.$invalid">Zresetuj has³o</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>