<div ng-controller="PasswordResetController">

<div class="container">
    <div class="row">
        <div class="col-md-5 center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> Przypomnienie hasła
                </div>
                <div class="panel-body">
             	
             		<div class="alert alert-danger">
				                   {{errorMessage}}
				    </div>
				    {{redirectResetLinkError}}
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>

<!-- AngularJS -->

	<script src="../resources/js/lib/angular/angular.js"></script>
	<script src="../resources/js/app.js"></script>
	<script src="../resources/js/services.js"></script>
	<script src="../resources/js/filters.js"></script>
	<script src="../resources/js/directives.js"></script>      
	<script src="../resources/js/controllers/PasswordResetController.js"></script>



