<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" ng-app="AngularSpringApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" href="resources/bootstrap/css/bootstrap.css" 
        data-th-href="@{resources/bootstrap/css/bootstrap.css}" />
        
    <link type="text/css" rel="stylesheet" href="resources/font-awesome/css/font-awesome.css" 
        data-th-href="@{resources/font-awesome/css/font-awesome.css}" />
        
    <link type="text/css" rel="stylesheet" href="resources/bootstrap/css/app.css" 
        data-th-href="@{resources/bootstrap/css/app.css}" />
       
		<title data-th-text="#{admin.page.title}">Title</title>
</head>

<body ng-controller="UserController">

	<form data-th-action="logout" method="post">
			<button type="submit" class="mini ui button red">Wyloguj się</button>
	</form>

Witaj {{username}}!
			
	<div class="container">

    <form role="form" style="width:200px; margin: 0 0;">
        <h1>Dodaj użytkownika</h1>
        
    
            <input type="text" placeholder="Nazwa użytkownika" class="form-control" ng-model="user.username" />
            
            <input type="password" placeholder="Hasło" class="form-control" ng-model="user.password" />
            
            <input type="text" placeholder="Email" class="form-control" ng-model="user.email" />
            
            <select class="form-control placeholder" ng-model="user.role">
					<option value="">Rola</option>
						<option ng-repeat="r in userRoleList" value="{{r.role}}">{{r.description}}</option>
					</select>
            
            <input type="checkbox" data-label="Aktywne" class="checkbox" ng-model="user.enabled" />
          
        <button class="btn btn-primary" ng-click="addUser()">Zapisz</button>
    </form>
</div>


<!-- AngularJS -->

	<script src="resources/js/lib/angular/angular.js"></script>
	<script src="resources/js/app.js"></script>
	<script src="resources/js/services.js"></script>
	<script src="resources/js/filters.js"></script>
	<script src="resources/js/directives.js"></script>      
	<script src="resources/js/controllers/UserController.js"></script>

</body>
</html>