<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" ng-app="AngularSpringApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" href="resources/bootstrap/css/bootstrap.css" 
        data-th-href="@{resources/bootstrap/css/bootstrap.css}" />
        
    <link type="text/css" rel="stylesheet" href="resources/font-awesome/css/font-awesome.css" 
        data-th-href="@{resources/font-awesome/css/font-awesome.css}" />
        
    <link type="text/css" rel="stylesheet" href="resources/bootstrap/css/app.css" 
        data-th-href="@{resources/bootstrap/css/app.css}" />
   
		<title data-th-text="#{admin.page.title}">Title</title>
</head>
<body ng-controller="RegistrationFormController">

<div class="container">

	<div class="row">
        <div class="col-md-3 center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span> Rejestracja
                </div>
            <div class="panel-body">
				<form name="signup_form" class="form-horizontal input-border" role="form" novalidate >
 
					<div class="form-group">
						<div class="col-sm-12">
    						<input
    								class="form-control" 
    								type="text" 
            						placeholder="Nazwa użytkownika" 
            						name="username" 
            						ng-model="signup.username" 
            						ng-minlength=5 
            						ng-maxlength=12 
            						ng-pattern="/^[A-z][A-z0-9]*$/"
            						ng-unique="signup.username"
            						ng-model-options="{ updateOn: 'blur' }"
            						required />
        	
        							<small class="success-message" ng-if="
        							signup_form.username.$dirty && !loading && !signup_form.username.$error.unique">
    									Nazwa dostępna.
									</small>
        	
            					   <small ng-if="signup_form.username.$dirty &&
            					   !signup_form.username.$error.required && loading" ng-class="loadingStyle">
    									{{loadingMessage}}
									</small>	
  							<div class="error-container" ng-show="signup_form.username.$dirty && signup_form.username.$invalid">
							    
							 	
							    <small class="error-message" ng-show="signup_form.username.$error.required">
							    	Nazwa użytkownika nie może być pusta.</small>
							    <small class="error-message" ng-show="
							    !signup_form.username.$error.minlength
							    && !signup_form.username.$error.maxlength
							    && signup_form.username.$error.pattern">
							    	Musi zaczynać się od litery oraz zawierać tylko litery i cyfry</small>	
							    <small class="error-message" ng-show="
							    	!signup_form.username.$error.required 
							    	&& signup_form.username.$error.minlength
									|| signup_form.username.$error.maxlength">
							    	Nazwa użytkownika musi się składać z przynajmniej 5 i niewięcej niż 12 znaków.</small>
							    <small class="error-message" ng-show="signup_form.username.$error.unique && !loading">
							    	Nazwa użytkownika jest już zajęta.</small>
  							</div>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-12">
    						<input
    								class="form-control" 
    								type="password" 
            						placeholder="Hasło" 
            						name="password" 
            						ng-model="signup.password" 
            						ng-minlength=5
            						ng-maxlength=16
            						ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
            						ng-model-options="{ updateOn: 'blur' }"
            						required />
  							<div class="error-container" ng-show="signup_form.password.$dirty 
  							&& signup_form.password.$invalid">
  							
  							 <small class="error-message" ng-show="signup_form.password.$error.required">
							    	Wprowadź hasło.</small>
							    <small class="error-message" ng-show="
							    !signup_form.password.$error.minlength
							    && !signup_form.password.$error.maxlength
							    && signup_form.password.$error.pattern">
							    	Hasło musi zawierać przynajmniej jedną dużą literę i cyfrę.</small>	
							    <small class="error-message" ng-show="
							    	!signup_form.password.$error.required 
							    	&& signup_form.password.$error.minlength
									|| signup_form.password.$error.maxlength">
							    	Hasło musi się składać z przynajmniej 5 i niewięcej niż 16 znaków.</small>
  							</div>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-12">
    						<input 
    								class="form-control" 
    								type="password" 
            						placeholder="Potwierdź hasło" 
            						name="confirmPassword" 
            						ng-model="signup.confirmPassword" 
             						ng-match="signup.password"
            						ng-model-options="{ updateOn: 'blur' }"
            					 	required />
  							<div class="error-container" ng-show="signup_form.confirmPassword.$dirty 
  							&& signup_form.confirmPassword.$invalid">
							    <small class="error-message" ng-show="signup_form.confirmPassword.$error.required">
							    	Potwierdź hasło.</small>
							    <small class="error-message" ng-show="
							    !signup_form.confirmPassword.$error.required
							    && signup_form.confirmPassword.$error.match">
							    	Hasła się nie zgadzają.</small>
  							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-12">
    						<input
    								class="form-control"
      								type="email" 
      								placeholder="Email" 
      								name="email" 
      								ng-model="signup.email" 
      								ng-minlength=6 
      								ng-maxlength=40 
      								ng-unique="signup.email"
      								ng-model-options="{ updateOn: 'blur' }"
      								required />
      						
      						
      						<small class="success-message" ng-if="
        							signup_form.email.$dirty && !loading && !signup_form.email.$error.unique">
    									Możesz wykorzystać ten adres do rejestracji.
							</small>		
      						<small ng-if="!signup_form.email.$error.required 
      						&& signup_form.email.$dirty && loading" ng-class="loadingStyle">
    							{{loadingMessage}}
								</small>			
    						<div class="error-container" ng-show="signup_form.email.$dirty 
    						&& signup_form.email.$invalid">
    						
							    	<small class="error-message" ng-show="signup_form.email.$error.required">
							    	Podaj adres email.</small>
							    <small class="error-message" ng-show="
							    !signup_form.email.$error.minlength
							    && !signup_form.email.$error.maxlength
							    && signup_form.email.$error.email">
							    	Nieprawidłowy adres email.</small>	
							    <small class="error-message" ng-show="
							    	!signup_form.email.$error.required 
							    	&& signup_form.email.$error.minlength
									|| signup_form.email.$error.maxlength">
							    	Email musi się składać z przynajmniej 6 i niewięcej niż 40 znaków.</small>
							    <small class="error-message" ng-show="signup_form.email.$error.unique && !loading">
							    	Istnieje użytkownik z podanym emailem.</small>
    						</div>
						</div>
					</div> 
					
					<div class="form-group">
						<div class="col-sm-12">
    						<input
    								class="form-control"
      								type="email" 
      								placeholder="Potwierdź email" 
      								name="confirmEmail" 
      								ng-model="signup.confirmEmail" 
      								ng-minlength=3 
      								ng-maxlength=30 
      								ng-match="signup.email"
      								ng-model-options="{ updateOn: 'blur' }"
      								required />
    						<div class="error-container" ng-show="signup_form.confirmEmail.$dirty 
    						&& signup_form.confirmEmail.$invalid">
      						 <small class="error-message" ng-show="signup_form.confirmEmail.$error.required">
							    	Potwierdź adres email.</small>
							    <small class="error-message" ng-show="
							    !signup_form.confirmEmail.$error.required
							    && signup_form.confirmEmail.$error.match">
							    	Adresy sie nie zgadzają.</small>
    						</div>
						</div>
					</div> 

    <button type="submit" class="btn btn-success btn-sm" ng-disabled="signup_form.$invalid">Zarejestruj</button>

</form>


  </div>
  </div>
  </div>
  </div>
  </div>

<!-- AngularJS -->

	<script src="resources/js/lib/angular/angular.js"></script>
	<script src="resources/js/lib/angular/angular-messages.js"></script>
	<script src="resources/js/app.js"></script>
	<script src="resources/js/services.js"></script>
	<script src="resources/js/filters.js"></script>
	<script src="resources/js/directives.js"></script>      
	<script src="resources/js/controllers/RegistrationFormController.js"></script>

</body>
</html>
