<div class="content"  ng-controller="PersonsController">
	<div class="userList container col-md-3">
	<h2>Dane osobowe</h2>
	
		<form name="addPerson_form" ng-submit="addPerson(person)" class="form-horizontal input-border" novalidate>
		 
		    						<div ng-hide="hideMessage" ng-class="messageStyle">
						                   {{message}}     
						   			</div>
		 
							<div class="form-group">
								<div class="col-sm-12">
		    						<input
		    								class="form-control" 
		    								type="text" 
		            						placeholder="Imię" 
		            						name="firstName" 
		            						ng-model="person.firstName" 
		            						ng-minlength=3
		            						ng-maxlength=12 
		            						ng-pattern="/^[A-Ź][a-ź]*$/"
		            						ng-model-options="{debounce: 1000}"
		            						required />
		            						
		            				<div class="error-container" ng-show="addPerson_form.firstName.$dirty && addPerson_form.firstName.$invalid">
									    <small class="error-message" ng-show="addPerson_form.firstName.$error.required">
									    	To pole nie może być puste.</small>
									    <small class="error-message" ng-show="
									    !addPerson_form.firstName.$error.minlength
									    && !addPerson_form.firstName.$error.maxlength
									    && addPerson_form.firstName.$error.pattern">
									    	Musi zaczynać się od dużej litery oraz zawierać tylko litery.</small>	
									    <small class="error-message" ng-show="
									    	!addPerson_form.firstName.$error.required 
									    	&& addPerson_form.firstName.$error.minlength
											|| addPerson_form.firstName.$error.maxlength">
									    	Pole musi się składać z przynajmniej 3 i niewięcej niż 12 znaków.</small>
		  							</div>
								</div>
							</div>
							
							<div class="form-group">
											<div class="col-sm-12">
					    						<input
					    								class="form-control" 
					    								type="text" 
					            						placeholder="Nazwisko" 
					            						name="lastName" 
					            						ng-model="person.lastName" 
					            						ng-minlength=3
					            						ng-maxlength=20 
					            						ng-pattern="/^[A-Ź][A-ź-]*$/"
					            						ng-model-options="{debounce: 1000}"
					            						required />
					            						
					            				<div class="error-container" ng-show="addPerson_form.lastName.$dirty && addPerson_form.lastName.$invalid">
												    <small class="error-message" ng-show="addPerson_form.lastName.$error.required">
												    	To pole nie może być puste.</small>
												    <small class="error-message" ng-show="
												    !addPerson_form.lastName.$error.minlength
												    && !addPerson_form.lastName.$error.maxlength
												    && addPerson_form.lastName.$error.pattern">
												    	Musi zaczynać się od dużej litery i ewentualnie zawierać '-'.</small>	
												    <small class="error-message" ng-show="
												    	!addPerson_form.lastName.$error.required 
												    	&& addPerson_form.lastName.$error.minlength
														|| addPerson_form.lastName.$error.maxlength">
												    	Pole musi się składać z przynajmniej 3 i niewięcej niż 20 znaków.</small>
					  							</div>
											</div>
								</div>
							
							<div class="form-group">
								<div class="col-sm-12">
		    						<input
		    								class="form-control" 
		    								type="text" 
		            						placeholder="PESEL" 
		            						name="pesel" 
		            						ng-model="person.pesel" 
		            						ng-minlength=11
					            			ng-maxlength=11
											ng-pesel="person.pesel"
		            						ng-model-options="{debounce: 1000}"
		            						required />
		            						
		            					<div class="error-container" ng-show="addPerson_form.pesel.$dirty && addPerson_form.pesel.$invalid">
												    <small class="error-message" ng-show="addPerson_form.pesel.$error.required">
												    	To pole nie może być puste.</small>
												    <small class="error-message" ng-show="
												    !addPerson_form.pesel.$error.minlength
												    && !addPerson_form.pesel.$error.maxlength
												    && addPerson_form.pesel.$error.pesel">
												    	Numer PESEL jest nieprawidłowy.</small>	
												    <small class="error-message" ng-show="
												    	!addPerson_form.pesel.$error.required 
												    	&& addPerson_form.pesel.$error.minlength
														|| addPerson_form.pesel.$error.maxlength">
												    	PESEL musi mieć dokładnie 11 cyfr.</small>
					  							</div>
											</div>						
								</div>
				
							
							<div class="form-group">
								<div class="col-sm-12">
		    						<input
		    								class="form-control" 
		    								type="text" 
		            						placeholder="Numer telefonu" 
		            						name="phoneNumber" 
		            						ng-model="person.phoneNumber" 
		            						ng-minlength=9
					            			ng-maxlength=11
		            						ng-pattern="/^[0-9]*$/"
		            						required />
		            						
		            							<div class="error-container" ng-show="addPerson_form.phoneNumber.$dirty && addPerson_form.phoneNumber.$invalid">
												    <small class="error-message" ng-show="addPerson_form.phoneNumber.$error.required">
												    	To pole nie może być puste.</small>
												    <small class="error-message" ng-show="
												    !addPerson_form.phoneNumber.$error.minlength
												    && !addPerson_form.phoneNumber.$error.maxlength
												    && addPerson_form.phoneNumber.$error.pattern">
												    	Numer telefonu może zawierać wyłącznie cyfry.</small>	
												    <small class="error-message" ng-show="
												    	!addPerson_form.phoneNumber.$error.required 
												    	&& addPerson_form.phoneNumber.$error.minlength
														|| addPerson_form.phoneNumber.$error.maxlength">
												    	Numer telefonu nie może być krótszy niż 9 i i niedłuższy niż 11 cyfr.</small>
					  							</div>
								</div>
							</div>
										
		   <button type="submit" class="btn btn-success btn-sm" ng-disabled="addPerson_form.$invalid">Dodaj dane</button>
		</form>		
	</div>
</div>
