<div class="content"  ng-controller="EventsController">
	<div class="userList container col-md-3">
	<h2>Edytuj wydarzenie</h2>
	
		<form name="addEvent_form" ng-submit="editEvent(event)" class="form-horizontal input-border" novalidate>
		 
		    						<div ng-hide="hideMessage" ng-class="messageStyle">
						                   {{message}}     
						   			</div>
		 		<div class="form-group">
								<div class="col-sm-12">
		    						<input
		    								class="form-control" 
		    								type="text" 
		            						placeholder="Nazwa" 
		            						name="name" 
		            						ng-model="event.name" 
		            						ng-minlength=5
		            						ng-maxlength=30 
		            						ng-pattern="/^[A-Z](?=[A-Z]|[a-z]|\s|\d)/"
		            						ng-model-options="{debounce: 1000}"
		            						required />
		            						
		            				<div class="error-container" ng-show="editEvent_form.name.$dirty && editEvent_form.name.$invalid">
									    <small class="error-message" ng-show="editEvent_form.name.$error.required">
									    	To pole nie może być puste.</small>
									    <small class="error-message" ng-show="
									    !editEvent_form.name.$error.minlength
									    && !editEvent_form.name.$error.maxlength
									    && editEvent_form.name.$error.pattern">
									    	Musi zaczynać się od dużej litery oraz zawierać litery lub cyfry.</small>	
									    <small class="error-message" ng-show="
									    	!editEvent_form.name.$error.required 
									    	&& editEvent_form.name.$error.minlength
											|| editEvent_form.name.$error.maxlength">
									    	Pole musi się składać z przynajmniej 5 i niewięcej niż 30 znaków.</small>
		  							</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
		    						<input
		    								class="form-control" 
		    								type="text" 
		            						placeholder="Typ" 
		            						name="type" 
		            						ng-model="event.type" 
		            						ng-minlength=5
		            						ng-maxlength=30 
		            						ng-pattern="/^[A-Z](?=[A-Z]|[a-z]|\s|\d)/"
		            						ng-model-options="{debounce: 1000}"
		            						required />
		            						
		            				<div class="error-container" ng-show="editEvent_form.type.$dirty && editEvent_form.type.$invalid">
									    <small class="error-message" ng-show="editEvent_form.type.$error.required">
									    	To pole nie może być puste.</small>
									    <small class="error-message" ng-show="
									    !editEvent_form.type.$error.minlength
									    && !editEvent_form.type.$error.maxlength
									    && editEvent_form.type.$error.pattern">
									    	Musi zaczynać się od dużej litery oraz zawierać litery lub cyfry.</small>	
									    <small class="error-message" ng-show="
									    	!editEvent_form.type.$error.required 
									    	&& editEvent_form.type.$error.minlength
											|| editEvent_form.type.$error.maxlength">
									    	Pole musi się składać z przynajmniej 5 i niewięcej niż 30 znaków.</small>
		  							</div>
								</div>
							</div>
		
							<div class="form-group">
								<div class="col-sm-12">
						
										<select  class="form-control" ng-model="event.location_id" ng-model-options="{debounce: 1000}" required>
										<option selected disabled value="">Wybierz lokację</option>
				        					<option ng-repeat="l in locations" value="{{l.id}}" placeholder="Miejsce">{{l.name}}, {{l.city}}</option>
				      					</select>		
			
									<div class="error-container" ng-show="editEvent_form.location_id.$dirty && editEvent_form.location_id.$invalid">
									    <small class="error-message" ng-show="editEvent_form.location_id.$error.required">
									    	Wybierz miejsce</small>
		  							</div>
			
										Miejsce wydarzenia nie znajduje się na liście?
										<button class="btn btn-primary btn-sm"  ng-show="hasRole('ROLE_ADMIN')" ui-sref="app.admin.locations.add">Dodaj lokalizację</button>
										<button class="btn btn-primary btn-sm" ng-show="hasRole('ROLE_MOD')" ui-sref="app.moderator.addLocation">Dodaj lokalizację</button>		
								</div>
							</div>
							
					 <div class="form-group">
		        		<div class="col-sm-12">
					      <input class="form-control" ng-model="event.startDate" data-autoclose="1" placeholder="Data rozpoczęcia" bs-datepicker type="text" required>
					    </div>
		    		 </div>
		    		 
					<div class="form-group">
		        		<div class="col-sm-12">
					      <input class="form-control" ng-model="event.startDate" data-autoclose="1" placeholder="Godzina rozpoczęcia" bs-timepicker type="text" required> 
		     			</div>
		    		</div>
		 
		  			<div class="form-group">
		        		<div class="col-sm-12">
					      <input class="form-control" ng-model="event.endDate" data-autoclose="1" placeholder="Data zakończenia" bs-datepicker type="text" required>
					    </div>
		    		 </div>
		    		 
					<div class="form-group">
		        		<div class="col-sm-12">
					      <input class="form-control" ng-model="event.endDate" data-autoclose="1" placeholder="Godzina zakończenia" bs-timepicker type="text" required> 
		     			</div>
		    		</div>
		    		
		    		<div class="form-group">
								<div class="col-sm-12">
		    						<textarea
		    								rows=3
		    								placeholder="Opis"
		    								class="form-control" 
		            						ng-model="event.description" 
		            						ng-maxlength=500
		            						ng-model-options="{debounce: 1000}"></textarea>
		            						
		      						<div class="error-container" ng-show="editEvent_form.description.$dirty && editEvent_form.description.$invalid">
									    <small class="error-message" ng-show="
											editEvent_form.description.$error.minlength
											|| editEvent_form.description.$error.maxlength">
									    	Pole musi się składać z przynajmniej 5 i niewięcej niż 30 znaków.</small>
		  							</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
										<select  class="form-control" ng-model="event.user_id" ng-model-options="{debounce: 1000}" required>
											<option selected disabled value="">Przydziel koordynatora</option>
				        					<option ng-repeat="c in coordinators" value="{{c.user_id}}" placeholder="Koordynator">{{c.firstName}} {{c.lastName}}</option>
				      					</select>
				      			</div>
				      		</div>
		    <button type="submit" class="btn btn-success btn-sm" ng-disabled="editEvent_form.$invalid || editEvent_form.$pristine">Zaktualizuj wydarzenie</button>
		</form>
	</div>		
</div>

