<div class="content"  ng-controller="EventsController">
<div class="userList container col-md-5">
<h2>Wydarzenia</h2>

 <table ng-table="tableParams" show-filter="true" class="table"> 
		        <tr ng-repeat="event in $data">
		            <td data-title="'Id'" sortable="'id'">{{event.id}}</td>
		            <td data-title="'Nazwa'" sortable="'name'" filter="{ 'name': 'text' }">{{event.name}}</td>
		           	<td data-title="'Data rozpoczęcia'" sortable="'startDate'">{{event.startDate  | date:'yyyy-MM-dd HH:mm:ss'}}</td>
		           	<td data-title="'Data zakończenia'" sortable="'endDate'">{{event.endDate  | date:'yyyy-MM-dd HH:mm:ss'}}</td>
		            <td data-title="'Operacje'">
		            	<a ui-sref="user.admin.events.details({ id: event.id })">Szczegóły</a>&nbsp;
		            	<a ui-sref="user.admin.events.edit({ id: event.id })">Edytuj</a>&nbsp; 
		            	<a ng-click="deleteEvent(event.id)">Usuń</a>
		            </td>
		        </tr>
        </table> 	
		
</div>

