<div class="content"  ng-controller="UsersController">
<div class="userList container col-md-10">
<h2>Szczegóły</h2>

<table>
	<tr>		
		<td>
					<tr>
				<td>
					<b>Dane podstawowe:</b>
				</td>
				<td valign="top">
					<button class="btn btn-primary" ui-sref="user.admin.users.edit({ id: user.id })">Edytuj</button>
				</td>
			</tr>
			<tr>
				<td>
					Id użytkownika: <b>{{user.id}}</b><br />
					Nazwa użytkownika: <b>{{user.username}}</b><br />
					Email: <b>{{user.email}}</b><br />
					Rola: <b>{{user.role}}</b><br />
					Aktywny: <b>{{user.enabled}}</b><br />
					Zablokowany: <b>{{user.locked}}</b><br /> 	
					Nieudane próby logowania: <b>{{user.failedLogins}}</b><br /> 	
					Ostatnia próba logowania: <b>{{user.lastLoginAttempt | date:'yyyy-MM-dd HH:mm:ss'}}</b><br /><br />
				</td>
			</tr>
			<tr ng-hide="person == null">
				<td>
					<b>Dane osobowe:</b>
				</td>
				<td valign="top">
					<button class="btn btn-primary" ui-sref="user.admin.persons.edit({ id: person.id })">Edytuj</button>
				</td>
			</tr>
			<tr ng-hide="person == null && person.user_id != user.id">
				<td>
					Imię: <b>{{person.firstName}}</b><br />
					Nazwisko: <b>{{person.lastName}}</b><br />
					PESEL: <b>{{person.pesel}}</b><br />
					Numer telefonu: <b>{{person.phoneNumber}}</b><br /><br />
				</td>
			</tr>
			<tr ng-hide="address == null">
				<td>
					<b>Adres zameldowania:</b>
				</td>
				<td valign="top">
					<button class="btn btn-primary" ui-sref="user.admin.addresses.edit({ id: address.id })">Edytuj</button>
				</td>
			</tr>
			<tr ng-hide="address == null && address.user_id != user.id && address.registeredAddress != true">
				<td>
					Ulica i Nr lokalu: <b>{{address.address}}</b><br />
					Miejscowość: <b>{{address.city}}</b><br />
					Kod pocztowy: <b>{{address.zipCode}}</b><br />
					Województwo: <b>{{address.state}}</b><br />
					Kraj: <b>{{address.country}}</b><br /><br />
				</td>
			</tr>
			<tr ng-hide="mailAddress == null">
				<td>
					<b>Adres korespondencyjny:</b>
				</td>
				<td valign="top">
					<button class="btn btn-primary" ui-sref="user.admin.addresses.edit({ id: mailAddress.id })">Edytuj</button>
				</td>
			</tr>
			<tr ng-hide="mailAddress == null && mailAddress.user_id != user.id && mailAddress.mailAddress != true">
				<td>
					Ulica i Nr lokalu: <b>{{mailAddress.address}}</b><br />
					Miejscowość: <b>{{mailAddress.city}}</b><br />
					Kod pocztowy: <b>{{mailAddress.zipCode}}</b><br />
					Województwo: <b>{{mailAddress.state}}</b><br />
					Kraj: <b>{{mailAddress.country}}</b><br /><br />
				</td>
			</tr>
			
			<tr ng-hide="person != null && person.user_id == user.id">
				<td>
					Uzupełnij dane osobowe		
				</td>
				<td valign="top"><button class="btn btn-primary" ui-sref="user.admin.persons.add({ id: user.id })">Dodaj</button></td>
			</tr>
			
			<tr ng-hide="address != null && address.user_id == user.id && address.registeredAddress == true">
				<td>
					Uzupełnij adres zameldowania
					
				</td>
				<td valign="top"><button class="btn btn-primary" ui-sref="user.admin.addresses.add({ id: user.id })">Dodaj</button></td>
			</tr>
			<tr ng-hide="mailAddress != null && mailAddress.user_id == user.id || address.mailAddress == true">
				<td>
					Uzupełnij adres korespondencyjny			
				</td>
				<td valign="top"><button class="btn btn-primary" ui-sref="user.admin.addresses.add({ id: user.id })">Dodaj</button></td>
			</tr>
		</td>
		<td valign="top" ng-controller="AttachmentsController">
		<img ng-hide="attachment != null" src="resources/images/blank_photo.jpg" width="50%" height="50%">
				<img ng-hide="attachment == null" ng-src="{{attachment}}" width="50%" height="50%">	
							
		<form name="addPhoto_form" ng-submit="addAttachment(user.id,data)" class="form-horizontal input-border" ng-hide="attachment != null" novalidate>
 
				<div class="form-group">
						<div class="col-md-12">
    						<input 
    								type="file" 
    								file-upload 
    								id="files" 
    								name="files[]" 
    								multiple
    								file="data" 
    								required />
						</div>
					</div>
				<button type="submit" class="btn btn-primary">Dodaj zdjęcie</button>
			</form> 
			<form name="addPhoto_form" ng-submit="updateAttachmentByUserId(data)" class="form-horizontal input-border" ng-hide="attachment == null" novalidate>
 
				<div class="form-group">
						<div class="col-md-12">
    						<input 
    								type="file" 
    								file-upload 
    								id="files" 
    								name="files[]" 
    								multiple
    								file="data" 
    								required />
						</div>
					</div>
				<button type="submit" class="btn btn-primary">Zmień zdjęcie</button>
			</form>
			{{noFile}}
			<button class="btn btn-danger" ng-click="deleteAttachmentByUserId()">Usuń zdjęcie</button> 
			
		</td>	
	</tr>
	
</table>
</div>