<div class="content"  ng-controller="UsersController">
	<div class="userList container col-md-10">
	<h2>Profil użytkownika</h2>

			<table>
					<tr>
						<td><b>Dane podstawowe:</b></td>
						<td valign="top">
							<button class="btn btn-primary" ng-hide="hasRole('ROLE_MOD') || hasRole('ROLE_USER')" ui-sref="app.admin.users.edit({ id: user.id })">Edytuj</button>
							<button class="btn btn-primary" ng-hide="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER') || user.id != loggedUser.id" ui-sref="app.moderator.editUser({ id: user.id })">Zmień hasło lub email</button>
							<button class="btn btn-primary" ng-hide="(hasRole('ROLE_ADMIN') || hasRole('ROLE_MOD')) || user.id != loggedUser.id" ui-sref="app.member.editUser({ id: user.id })">Zmień hasło lub email</button>
						</td>
					</tr>
					<tr>
						<td>
							Id użytkownika: <b>{{user.id}}</b><br />
							Nazwa użytkownika: <b>{{user.username}}</b><br />
							Email: <b>{{user.email}}</b><br />
							Rola: <b>{{user.role}}</b><br />
							Aktywny: <b>{{user.enabled}}</b><br />
							Zablokowany: <b>{{user.locked}}</b><br /> 	
							Nieudane próby logowania: <b>{{user.failedLogins}}</b><br /> 	
							Ostatnia próba logowania: <b>{{user.lastLoginAttempt | date:'yyyy-MM-dd HH:mm:ss'}}</b><br /><br />
						</td>
					</tr>
					<tr ng-hide="person == null">
						<td>
							<b>Dane osobowe:</b>
						</td>
						<td valign="top">
							<button class="btn btn-primary" ng-hide="hasRole('ROLE_MOD') || hasRole('ROLE_USER')" ui-sref="app.admin.persons.edit({ id: person.id })">Edytuj</button>
							<button class="btn btn-primary" ng-hide="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER') || user.role=='Administrator'" ui-sref="app.moderator.editPerson({ id: person.id })">Edytuj</button>
							<button class="btn btn-primary" ng-hide="(hasRole('ROLE_ADMIN') || hasRole('ROLE_MOD')) || user.id != loggedUser.id" ui-sref="app.member.editPerson({ id: person.id })">Edytuj</button>
						</td>
					</tr>
					<tr ng-hide="person == null && person.user_id != user.id">
						<td>
							Imię: <b>{{person.firstName}}</b><br />
							Nazwisko: <b>{{person.lastName}}</b><br />
							PESEL: <b>{{person.pesel}}</b><br />
							Numer telefonu: <b>{{person.phoneNumber}}</b><br /><br />
						</td>
					</tr>
					<tr ng-hide="address == null">
						<td>
							<b>Adres zameldowania:</b>
						</td>
						<td valign="top">
							<button class="btn btn-primary"  ng-hide="hasRole('ROLE_MOD') || hasRole('ROLE_USER')" ui-sref="app.admin.adresses.edit({ id: address.id })">Edytuj</button>
							<button class="btn btn-primary"  ng-hide="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER') || user.role=='Administrator'" ui-sref="app.moderator.editAddress({ id: address.id })">Edytuj</button>
							<button class="btn btn-primary"  ng-hide="(hasRole('ROLE_ADMIN') || hasRole('ROLE_MOD')) || user.id != loggedUser.id" ui-sref="app.member.editAddress({ id: address.id })">Edytuj</button>
						</td>
					</tr>
					<tr ng-hide="address == null && address.user_id != user.id && address.registeredAddress != true">
						<td>
							Ulica i Nr lokalu: <b>{{address.address}}</b><br />
							Miejscowość: <b>{{address.city}}</b><br />
							Kod pocztowy: <b>{{address.zipCode}}</b><br />
							Województwo: <b>{{address.state}}</b><br />
							Kraj: <b>{{address.country}}</b><br /><br />
						</td>
					</tr>
					<tr ng-hide="mailAddress == null">
						<td>
							<b>Adres korespondencyjny:</b>
						</td>
						<td valign="top">
							<button class="btn btn-primary" ng-hide="hasRole('ROLE_MOD') || hasRole('ROLE_USER')" ui-sref="app.admin.adresses.edit({ id: mailAddress.id })">Edytuj</button>
							<button class="btn btn-primary" ng-hide="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER') || user.role=='Administrator'" ui-sref="app.moderator.editAddress({ id: mailAddress.id })">Edytuj</button>
							<button class="btn btn-primary" ng-hide="(hasRole('ROLE_ADMIN') || hasRole('ROLE_MOD')) || user.id != loggedUser.id" ui-sref="app.member.editAddress({ id: mailAddress.id  })">Edytuj</button>
						</td>
					</tr>
					<tr ng-hide="mailAddress == null && mailAddress.user_id != user.id && mailAddress.mailAddress != true">
						<td>
							Ulica i Nr lokalu: <b>{{mailAddress.address}}</b><br />
							Miejscowość: <b>{{mailAddress.city}}</b><br />
							Kod pocztowy: <b>{{mailAddress.zipCode}}</b><br />
							Województwo: <b>{{mailAddress.state}}</b><br />
							Kraj: <b>{{mailAddress.country}}</b><br /><br />
						</td>
					</tr>
					
					<tr ng-hide="person != null && person.user_id == user.id || user.role=='Administrator'">
						<td>
							Uzupełnij dane osobowe		
						</td>
						<td valign="top">
						<button class="btn btn-primary" ng-hide="hasRole('ROLE_MOD') || hasRole('ROLE_USER')" ui-sref="app.admin.persons.add({ id: user.id })">Dodaj</button>
						<button class="btn btn-primary" ng-hide="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER') || user.role=='Administrator'" ui-sref="app.moderator.addPerson({ id: user.id })">Dodaj</button>
						<button class="btn btn-primary" ng-hide="hasRole('ROLE_ADMIN') || hasRole('ROLE_MOD') || user.id != loggedUser.id" ui-sref="app.member.addPerson({ id: user.id })">Dodaj</button>
						</td>
					</tr>
					
					<tr ng-hide="address != null && address.user_id == user.id && address.registeredAddress == true  || user.role=='Administrator'">
						<td>
							Uzupełnij adres zameldowania		
						</td>
						<td valign="top">
						<button class="btn btn-primary" ng-hide="hasRole('ROLE_MOD') || hasRole('ROLE_USER')" ui-sref="app.admin.addresses.add({ id: user.id })">Dodaj</button>
						<button class="btn btn-primary" ng-hide="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER') || user.role=='Administrator'" ui-sref="app.moderator.addAddress({ id: user.id })">Dodaj</button>
						<button class="btn btn-primary" ng-hide="hasRole('ROLE_ADMIN') || hasRole('ROLE_MOD') || user.id != loggedUser.id" ui-sref="app.member.addAddress({ id: user.id })">Dodaj</button>
						</td>
					</tr>
					<tr ng-hide="mailAddress != null && mailAddress.user_id == user.id || address.mailAddress == true  || user.role=='Administrator'">
						<td>
							Uzupełnij adres korespondencyjny			
						</td>
						<td valign="top">
						<button class="btn btn-primary" ng-hide="hasRole('ROLE_MOD') || hasRole('ROLE_USER')" ui-sref="app.admin.addresses.add({ id: user.id })">Dodaj</button>
						<button class="btn btn-primary" ng-hide="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER') || user.role=='Administrator'" ui-sref="app.moderator.addAddress({ id: user.id })">Dodaj</button>
						<button class="btn btn-primary" ng-hide="hasRole('ROLE_ADMIN') || hasRole('ROLE_MOD') || user.id != loggedUser.id" ui-sref="app.member.addAddress({ id: user.id })">Dodaj</button>
						</td>
					</tr>
				<tr>
					<td valign="top" ng-controller="AttachmentsController">
					<div ng-controller="UserAttachmentsController"><!-- blok istnieje tylko dla uruchmomienia funkcji z kontrolera --></div>
					<img ng-hide="userPhoto.file != null" src="resources/images/blank_photo.jpg" width="50%" height="50%">
					<img ng-hide="userPhoto.file == null" ng-src="{{userPhoto.file}}" width="50%" height="50%">	
							<div ng-hide="hasRole('ROLE_USER') && user.id != loggedUser.id || user.role=='Administrator'" class="form-group">
				
										<image-uploadr file="attachment.file" filename="attachment.fileName" filetype="attachment.fileType"></image-uploadr>
										
							    		<button class="btn btn-primary" 
							    				ng-click="addAttachment(user.id,attachment.file)" 
							    				ng-hide="userPhoto.file != null" 
							    				ng-disabled="attachment.file == null">Dodaj zdjęcie</button>
							    		<button class="btn btn-primary" 
							    				ng-click="updateAttachmentByUserId(attachment.file)" 
							    				ng-hide="userPhoto.file == null" 
							    				ng-disabled="attachment.file == null">Zmień zdjęcie</button>
							    		{{noFile}}	
							    			
							  			<button class="btn btn-danger" 
							  					ng-click="deletePhotoAttachmentByUserId()"
							  					ng-hide="userPhoto.file == null">Usuń zdjęcie</button> 
						   </div>			
					</td>	
				</tr>
		</table>
	</div>
</div>